:root {
	--primary-clr: #4b80dd;
	--primary-shade-clr: #4271c2;
	--secondary-clr: #ff7598;
	--secondary--shade-clr: #e06786;
	--light-clr: #f4f5f8;
	--light-shade-clr: #d7d8da;
	--font-clr: #2c3e50;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
	margin-bottom: 0.2em;
}
ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 520px;
}
